.work {
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;

  h3 {
    color: #fff;
  }

  span {
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 20px;
  }
}
